@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/static/Inter-Bold.ttf);
  font-weight: bold;  
}

@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/static/Inter-Regular.ttf);
  font-weight: normal;  
}

@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/static/Inter-Medium.ttf);
  font-weight: medium;  
}

.attribution { font-size: 11px; text-align: center; color: whitesmoke;}
.attribution a { color: hsl(75, 94%, 57%); }

body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'Inter';
  font-size: 14px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  display: grid;
  padding: 40px;
  align-items: center;
  justify-items: center;
  width:fit-content;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  color: hsl(0, 0%, 100%);
  font-weight: medium;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

.bio {
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  padding: 20px;
}

.socials {
  display: grid;
  gap: 10px;
  width: 100%;
}

.social-link {
  background-color: hsl(0, 0%, 20%);
  color:hsl(0, 0%, 100%);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.social-link:hover {
  background-color: hsl(0, 0%, 30%);
}